.flex {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}

&:hover {
    background-color: darken (rgb(205, 174, 233) 10%);
  }

@mixin img-stylegs($max-width: 100%, $height: auto) {
    max-width: $max-width;
    height: $height;
    display: block; 
    margin: 0 auto; 
  }
  

.titulo {
    @include text-styles(24px, 'Arial', rgb(253, 253, 253));
    font-weight: bold; 
  }
  
  .h1 {
    @include text-styles(16px, 'Helvetica', #000000); 
  }
  